In [4]:
x=int(input("enter a number"))
y=int(input("enter a number"))
print(x+y,x-y,x*y,x/y)

enter a number6
enter a number1
7 5 6 6.0

In [7]:
p=int(input("enter the principal"))
r=int(input("enter the rate"))
n=int(input("enter the no of years"))
i=p*r*n
print("the interest",i)

enter the principal10000
enter the rate5
enter the no of years2
the interest 100000

In [8]:
a=i+p
print("the amount is",a )

the amount is 110000

In [14]:
a=int(input("enter the marks for banking"))
if a>50 :
  print("pass")
if a<50 :
  print("fail")

enter the marks for banking49
fail

In [22]:
a=int(input("enter your salary"))
if  250000<a<500000:
    print("you are taxable")
    print("the tax is",(a-250000)*10/100)
if a>500000 :
     print(" tax is",a*20/100)

enter your salary600000
 tax is 120000.0